name: Releases

on:
  push:
    tags:
      - '*.*'

jobs:
  build:
    name: Build and publish static binaries
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build
        run: RUSTFLAGS="-C target-feature=-crt-static" NO_SOLC_BUILD=1 cargo build --release --target=${{ matrix.target }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/dkg-cli
